@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: linear-gradient(-45deg, #5552ee, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000% 5000%;
    animation: gradientbg 20s linear infinite;
    color: white;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
}

@keyframes gradientbg
{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#header h1
{
    background-color: #0004;
    margin: 0;
    padding: 10px;
}

p
{
    padding: 10px;
}

#pregame
{
    width: 85%;
    margin: auto;
    background-color: #0004;
    padding: 10px;
    border-radius: 10px;
}

#pregame h3
{
    margin: 0;
    font-size: 1.4rem;
}

#pregame input
{
    width: 80%;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    outline: none;
    background-color: #afbcba;
}

#pregame button
{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: bold;
    background-color: #afbcba;
    transition: transform .25s;
}

#pregame button:hover
{
    animation: press .5s ease-in-out forwards;
}

@keyframes press
{
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes dragup
{
    from {transform: translateY(0px);}
    to {transform: translateY(-500px);}
}

.hidden
{
    display: none !important;
}

#gamegrid
{
    background: #FFF8;
    height: 80%;
    color: #000;
    padding: 10px;
}

#gamegrid h1
{
    margin: 0;
    padding: 10px;
}

#gameboard
{
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
}

#gameboard td
{
    font-size: 1.5rem;
    border: 1px solid #000;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

#cell-0
{
    border-top-left-radius: 10px;
}

#cell-8
{
    border-bottom-left-radius: 10px;
}

#cell-18
{
    border-top-right-radius: 10px;
}

#cell-26
{
    border-bottom-right-radius: 10px;
}

.marked
{
    color: #F00;
}

.locked
{
    color: #F005;
}

@keyframes dragupper
{
    from {transform: translateY(800px);}
    to {transform: translateY(0px);}
}

#popup
{
    position: fixed;
    bottom: 20px;
    right: 4%;
    padding: 5px;
    width: 90%;
    text-align: center;
    color: #000;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px .5px #000;
}

#closepopup
{
    position: absolute;
    background: #ff3636;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    font-size: .7rem;
    font-weight: bold;
    cursor: pointer;
}

#popupcontent
{
    font-weight: bold;
    margin: 0;
}

@keyframes popupslideup
{
    from {transform: translateY(150px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}

@keyframes popupslidedown
{
    from {transform: translateY(0px); opacity: 1;}
    to {transform: translateY(150px); opacity: 0;}
}

#fullscreenbtn
{
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 15px;
    left: 15px;
    background: #0005;
    padding: 10px;
    border-radius: 10px;
}