@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    font-family: 'Open Sans', sans-serif;
}

body
{
    background: linear-gradient(-45deg, #5552ee, #e73c7e, #23a6d5, #23d5ab);
	background-size: 300% 300%;
    animation: gradientbg 20s linear infinite;
    color: white;
}

/* ------------------------ PRE-GAME ------------------------ */ 

@keyframes gradientbg
{
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.floatingformulas {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.floatingformulas cite {
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    opacity: .4;
    cursor: pointer;
}

a.formula:link, a.formula:visited, a.formula:active
{
    text-decoration: none;
    color: white;
}

#pregame
{
    text-align: center;
    font-size: 2.5rem;
    display: block;
}

#title
{
    font-size: 8rem;
}

#credits
{
    margin-top: -10px;
    margin-bottom: 50px;
}

#gameinfo
{
    padding: 30px;
    margin: auto;
    margin-top: 15px;
    width: max-content;
    border: 5px solid black;
    border-radius: 10px;
}

#pregame h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: 0;
}

#gamedescription
{
    margin: auto;
    width: 80%;
    margin-top: 30px;
    border: 5px solid black;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 500;
    padding: 15px;
    background: #00000030;
}

.link
{
    background: #00000030;
    padding: 5px;
    border-radius: 10px;
    color: #ff007c;
}

#rules
{
    font-weight: 700;
    text-transform: uppercase;
}

.descriptiontable
{
    text-align: center;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

td
{
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

th
{
    padding: 10px;
}

#participantscountwrapper
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#participantscount
{
    display: inline;
}

.participantsincrement
{
    animation: growshrink .25s ease-in-out;
}

@keyframes growshrink
{
    50% {transform: scale(1.5);}
}

.player
{
    width: max-content;
    background: #00000050;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    color: white;
    animation: join .5s;
    cursor: pointer;
    transition: .25s;
}

.player:hover
{
    transform: scale(1.1);
    transition: .25s;
    background: #ff0063;
    text-decoration: line-through;
}

@keyframes join
{
    from {transform: scale(0) rotate(45deg);}
    to {transform: scale(1) rotate(0deg);}
}

@keyframes leave
{
    to {transform: scale(0) rotate(180deg);}
}

#playerscontainer
{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

#startgame
{
    width: 350px;
    height: 90px;
    border-radius: 30px;
    border: 5px solid #000;
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(45deg, #df00ff, #7f00ff);
    margin: 50px auto 50px auto;
    transition: .25s;
}

#startgame:hover
{
    transform: scale(1.2);
    transition: .5s;
}

#startgame:active
{
    transform: scale(0.9);
}

@keyframes dragabove
{
    to {transform: translateY(-1000px); opacity: 0;}
}


/* ------------------------ GAME ------------------------ */ 

@keyframes showgamepanel
{
    to {transform: translateY(-920px);}
}

#game
{
    position: relative;
    display: none;
}

.gamepanel
{
    display: block;
    width: 20%;
    border: 5px solid #000;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#infotable, #infotable th, #infotable tr, #infotable td
{
    border: 0;
    margin: auto;
    color: #000;
}

.gamepanel h1
{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    background: #00000090;
}

#leaderboard
{
    position: absolute;
    left: 40px;
    top: 0px;
    background: #ffffff80;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    max-height: 1500px;
    transition: max-height 1s linear;
}

.leaderboardupdate
{
    max-height: 85px !important;
    transition: max-height 1s linear;
}

.leaderboardheaders h2
{
    text-align: left;
    display: inline;
    color: black;
    font-size: 1.5rem;
}

.leaderboardheaders h2:first-child
{
    position: absolute;
    left: 5px;
}

.leaderboardheaders h2:last-child
{
    position: absolute;
    right: 5px;
}

#positionscontainer
{
    position: relative;
}

#positions
{
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    color: #000;
    border-top: 0;
}

#positions li
{
    text-align: center;
    width: 50px;
    height: 30px;
    font-size: 1.5rem;
    background: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-top: none;
}

#first
{
    background: gold !important;
    border-top: 1px solid #000 !important;
}

#second
{
    background: silver !important;
}

#third
{
    background:  #b95b46 !important;
}


.leaderboardpanel
{
    display: inline-block;
}

.leaderboardpanel ul
{
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#players
{
    width: 70%;
}

#leaderboardplayers
{
    color: #000;
    text-align: left;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    border-top: 1px solid #000;
}

#leaderboardplayers li
{
    position: relative;
    width: 93%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    padding-left: 10px;
}

.score
{
    text-align: center;
    position: absolute;
    top: -1px;
    right: -60px;
    width: 58px;
    height: 40px;
    border: 1px solid #000;
    padding: 0;
}

#screen
{
    overflow-y: hidden;
    position: relative;
    width: 50%;
    height: 90vh;
    margin: auto;
    margin-top: 2.5vh;
    background: #ffffffa0;
    transition: transform 1s;
}

.widescreen
{
    animation: screenendgame 1s linear forwards;
}

@keyframes screenendgame
{
    to {transform: scaleX(160%);}
}

@keyframes shrinkdisappear
{
    to {transform: scale(0);}
}

.slideright
{
    animation: panelslideright 1s linear forwards;
}

.slideleft
{
    animation: panelsideleft 1s linear forwards;
}

@keyframes panelslideright
{
    to {transform: translateX(500px);}
}

@keyframes panelsideleft
{
    to {transform: translateX(-500px);}
}

.screenelement
{
    position: absolute;
}

#extractionbox
{
    bottom: 50px;
    left: 50px;
    transition: .25s;
}

#extractionbox:hover
{
    transform: rotate(15deg) scale(0.9);
    transition: .25s;
}

#questioncontainer
{
    position: absolute;
    width: max-content;
    border: 8px solid #ff0000;
    border-radius: 100px;
    padding: 25px;
    background: #ffe651;
    color: #ff0000;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
    bottom: 160px;
    left: -50px;
    box-shadow: inset 0px 1px 1px 2px #000B;
    transform: rotate(90deg) scale(0.4);
    display: none;
}

#hand
{
    position: absolute;
    display: none;
    top: -70px;
    left: 220px;
    width: 500px;
    z-index: 9999;
    filter: drop-shadow(3px 3px 10px #000);
}

@keyframes extraction
{
    10% {transform: translate(50px, -100px) rotate(80deg) scale(0.55);}
    20% {transform: translate(100px, -200px) rotate(70deg) scale(0.60);}
    30% {transform: translate(150px, -300px) rotate(60deg) scale(0.65);}
    40% {transform: translate(200px, -350px) rotate(50deg) scale(0.70);}
    50% {transform: translate(250px, -400px) rotate(40deg) scale(0.75);}
    60% {transform: translate(300px, -350px) rotate(30deg) scale(0.80);}
    70% {transform: translate(350px, -300px) rotate(20deg) scale(0.85);}
    80% {transform: translate(350px, -250px) rotate(10deg) scale(0.9);}
    90% {transform: translate(350px, -250px) rotate(0deg) scale(1);}
    100% {transform: translate(350px, -250px) rotate(0deg) scale(1.2);}
}

@keyframes handslideinout
{
    0% {transform: translateY(-600px)}
    50% {transform: translateY(50px)}
    100% {transform: translateY(-600px)}
}

@keyframes removeextractednumber
{
    from {transform: translate(350px, -250px) rotate(0deg) scale(1.2);}
    to {transform: translate(350px, -1200px) rotate(0deg) scale(1.2);}
}

.extractionanim
{
    animation: extraction 1.5s ease-in-out forwards;
}

.handsanim
{
   display: block !important;
   animation: handslideinout 2.5s ease-in-out forwards;
}

.removeextractednumberanim
{
    animation: removeextractednumber 2.5s ease-in-out forwards;
}

#question
{
    text-shadow: 2px 2px 2px #000B;
}

#extractionarea
{
    bottom: 0;
    border: 1px solid #000;;
}

#timeleftcontainer
{
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    font-size: 2.8rem;
    width: 175px;
    height: 175px;
    color: #000;
    filter: drop-shadow(0px 0px 2px #000);
}

.timechart
{
    transform: translateY(-90px);
}

#timeleft
{
    margin: auto;
    text-align: center;
    transform: translateY(40%);
}

#info
{
    position: absolute;
    right: 40px;
    top: 0px;
    background: #ffffff80;
}

.infobox
{
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
}

#preendgame
{
    display: none;
    margin-top: 30vh;
}

#winnermessage
{
    font-weight: 900;
    font-size: 5rem;
    color: gold;
    text-shadow: 0px 0px 5px #000;
    transition: transform .25s;
}

@keyframes winnermessageanim
{
    25% {transform: scale(0.8); color: #00d7ff}
    50% {transform: scale(1); color: #79ff00}
    75% {transform: scale(1.2); color: #8600ff}
    100% {transform: scale(1); color: #e4ff00}
}

@keyframes winnermessagenormal
{
    to {transform: scale(1) translateY(-200px);}
}

#endgame
{
    display: none;
}

.resultstable
{
    border: 5px solid #000;
    border-radius: 10px;
    color: #000;
    margin: auto;
    margin-top: 40px;
    width: max-content;
    max-height: 800px;
    display: block;
    overflow-y: auto;
    font-size: 1.5rem;
}

.resultstable > tbody > tr:first-child > td:first-child
{
    font-weight: bold;
    background: gold;
}

.resultstable > tbody > tr:nth-child(2) > td:first-child
{
    font-weight: bold;
    background: silver;
}

.resultstable > tbody > tr:nth-child(3) > td:first-child
{
    font-weight: bold;
    background: #b95b46;
}

.resultstable > tbody > tr > td:first-child
{
    background: gray;
}

.resultstable > tbody > tr > td:nth-child(3)
{
    color: #0054ff;
}

.resultstable > tbody > tr > td:nth-child(4)
{
    color: #ff0072;
}

.resultstable > tbody > tr > td:last-child
{
    text-shadow: 0px 0px 3px #000;
    font-weight: bold;
    color: #0fff00;
}

.resultstable th
{
    font-size: 1.2rem;
}

.resultstable td
{
    padding: 5px;
}

.growappear
{
    animation: growappear 1s ease-in-out forwards;
}

@keyframes growappear
{
    0% {transform: scale(0) rotate(360deg)}
    75% {transform: scale(1.05)}
    100% {transform: scale(1)}
}